body {
    background-color: #cccccc;
}

    h1 {
        color: black;
        text-align: center;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }

    h2 {
        color: darkslategray;
        text-align: center;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }

    h3 {
        color: deeppink;
                text-align: center;
                margin: 0;
                font-family: 'Open Sans', sans-serif;
    }



#section1 {
    background-color: #cccccc;
}

    #map {
        
    }

    .kantone{
        fill: #cccccc;
        stroke: #333333;
        stroke-width: 1;
    }

    .selected{
        fill: yellow;
    }

    #sidebar {
        background-color: red;
    }



#section2 {
    background-color: #cccfff;
}

    #metadata {
        
    }

    #authors {
        
    }

#section3 {
    background-color: khaki;
    
}