row-map {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

map-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: slategray;
}

body {
    color: #cccccc;
}

h1 {
    color: black;
    text-align: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: black;
    text-align: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.kantone{
    fill: #cccccc;
    stroke: #333333;
    stroke-width: 1;
}

.selected{
    fill: yellow;
}

#map {
    background-color: #cccccc;
}

#section1 {
    background-color: #cccccc;
}

#sidebar {
    background-color: red;
}

#section2 {
    
}

#metadata {
    background-color: #cccccc;
    
}

#authors {
    background-color: #cccccc;
}